In [50]:
import importlib
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from datetime import datetime
from datetime import date
from datetime import timedelta

In [51]:
import PrjtCF_module as cf
from PrjtCF_module.genfunc import rounding as R

# Setting

In [52]:
pd.options.display.max_columns = 40
pd.options.display.max_rows = 200
print(pd.get_option("display.max_columns"), pd.get_option("display.max_rows"))

40 200

# Outline
* 주거시설 등 개발과 동시에 분양을 하는 사업의 재무모델
* PF대출을 통해 토지비 및 공사비 등 개발사업 자금 조달
* 금융비용을 PF대출금으로 충당
* 분양대금의 일부는 사업비로, 일부는 대출금 상환재원으로 사용
* PF대출금은 필요에 따라 한도대로 인출

# Input Index Data

In [53]:
# Setting period index
# prjt index : total project periods, and project base index
# cstrn index : construction index. Period from the construction to the completion.
# loan index : loan period index. Period from the loan execution date to the maturity.
# sales index : sales period index. Period from the sales start date to the end date.
idx = cf.PrjtIndex(idxname=['prjt', 'cstrn', 'loan', 'sales'],
                   start=['2021-11', '2021-12', '2021-12', '2022-02'],
                   periods=[26+1, 20+1, 24+1, 20+1],
                   freq='M')

# Setting a construction progress rate
idx.prcs = Series(np.ones(len(idx.cstrn)) / len(idx.cstrn),
                  index=idx.cstrn.index)

# Input Financing Condition Data

In [54]:
equity = cf.Loan(idx, amt_ntnl=10_000)

loan = cf.Intlz_loan(idx, idx.loan,
                  title = ['tra', 'trb'],
                  amt_ntnl=[65_000, 20_000],
                  rate_fee = [0.01, 0.03],
                  rate_IR = [0.05, 0.07])

# Input Sales Data

In [55]:
# Cash inflow assumption on sales contract
class Asmptn_sls_cls:
    pass
astn_sls = Asmptn_sls_cls()

astn_sls.cshA = [[0, 0.1],
                 [4, 0.1],
                 [8, 0.1],
                 [12, 0.1],
                 [16, 0.1],
                 [20, 0.5]]

astn_sls.cshB = [[0, 0.1],
                 [5, 0.1],
                 [10, 0.1],
                 [15, 0.1],
                 [20, 0.6]]

astn_sls.ctrtA = [[0, 0.1],
                  [2, 0.1],
                  [4, 0.1],
                  [6, 0.1],
                  [8, 0.1],
                  [10, 0.1],
                  [12, 0.1],
                  [14, 0.1],
                  [16, 0.1],
                  [18, 0.1]]

In [56]:
sales = cf.Intlz_sales_sellinlots(idx, idx.sales, 
           title=['salesA', 'salesB'], 
           amt=[110_000, 30_000],
           csh_scdd=[astn_sls.cshA, astn_sls.cshB],
           ctrt_scdd=[astn_sls.ctrtA, astn_sls.ctrtA])

# Input Cost Data

In [57]:
cost = cf.Intlz_costs(idx)
cost.inptcst('lnd',
             idx.cstrn[0],
             30_000)
cost.inptcst('cstrn',
             idx.cstrn.index,
             80_000 * idx.prcs)

cost.inptcst('slsfee',
             sales.salesA.ctrt_plan.index,
             sales.salesA.ctrt_plan * 0.03,
             feerateA=0.03)
cost.inptcst('slsfee',
             sales.salesB.ctrt_plan.index,
             sales.salesB.ctrt_plan * 0.05,
             feerateB=0.05)

# Execution Cash Flow

In [58]:
acc = cf.Intlz_accounts(idx, ['oprtg', 'sales', 'repay'])

In [59]:
# Excute cash flow
for idxno in idx.index:
    # If it's initial date then set loan withdrawble.
    equity.set_wtdrbl_intldate(idxno)
    loan.tra.set_wtdrbl_intldate(idxno)
    loan.trb.set_wtdrbl_intldate(idxno)
    
    #### Sales ####
    # 분양수입대금 sales schedule에 따라 운영계좌로 이체
    slsmngA = cf.Mngmnt_sls(idxno, sales.salesA)
    slsmngA.make_ctrt_plan()
    slsmngA.rcv_slsamt(acc.sales)
    
    slsmngB = cf.Mngmnt_sls(idxno, sales.salesB)
    slsmngB.make_ctrt_plan()
    slsmngB.rcv_slsamt(acc.sales)
    
    # 분양수입금 분배
    intl_bal_end = acc.sales.bal_end[idxno]
    if not loan.ttl.is_repaid:
        amt_to_oprtg = intl_bal_end * 0.2
        amt_to_repay = intl_bal_end * 0.8
        acc.sales.send(idxno, amt_to_oprtg, acc.oprtg)
        acc.sales.send(idxno, amt_to_repay, acc.repay)
    elif loan.ttl.is_repaid:
        acc.sales.send(idxno, intl_bal_end, acc.oprtg)
        amt_trsfr = cf.limited(acc.repay.bal_end[idxno], lower=[0])
        acc.repay.send(idxno, amt_trsfr, acc.oprtg)
    
    # cost instance 생성, 조달금액 계산 후 대출인출액을 운영계좌 입금
    cstmng = cf.Mngmnt_cst(idxno, cost, loan)
    wtdrw = cf.Mngmnt_wtdrw(idxno, cstmng, acc.oprtg)
    wtdrw.wtdrw_equity(equity)
    wtdrw.wtdrw_loan(loan.trb)
    wtdrw.wtdrw_loan(loan.tra)
    
    # 운영계좌에서 토지비, 공사비 등 각종 비용 지출
    cstmng.pay_oprtcst(acc.oprtg)
    
    # 운영계좌에서 각종 금융비용 지출
    cstmng.pay_fnclcst(acc.oprtg)
    
    # 상환계좌 잔액으로 대출금 상환
    rpymngA = cf.Mngmnt_repay(idxno, loan.tra)
    rpymngA.trsf_rpy(acc.oprtg, acc.repay)
    rpymngA.trsf_oprtg(acc.repay, acc.oprtg)
    rpymngA.rpy_ntnl(acc.repay)
    
    if rpymngA.check_repaid():
        rpymngB = cf.Mngmnt_repay(idxno, loan.trb)
        rpymngB.trsf_rpy(acc.oprtg, acc.repay)
        rpymngB.trsf_oprtg(acc.repay, acc.oprtg, is_repaid=rpymngB.check_repaid())
        rpymngB.rpy_ntnl(acc.repay)
        
    # If it was maturity date then set back loan unwithdrawble.
    equity.setback_wtdrbl_mtrt(idxno)
    loan.tra.setback_wtdrbl_mtrt(idxno)
    loan.trb.setback_wtdrbl_mtrt(idxno)

In [60]:
# 현금흐름 요약
rslt_df = DataFrame({('SalesContract', 'salesA', 'amt_add'):sales.salesA.amt_add[:],
                     ('SalesContract', 'salesB', 'amt_add'):sales.salesB.amt_add[:],
                     ('CashIn', 'salesA', 'amt_sub'):sales.salesA.amt_sub[:],
                     ('CashIn', 'salesB', 'amt_sub'):sales.salesB.amt_sub[:],
                     ('CashIn', 'equity.ntnl', 'amt_sub'):equity.ntnl.amt_sub[:],
                     ('CashIn', 'tra.ntnl', 'amt_sub'):loan.tra.ntnl.amt_sub[:],
                     ('CashIn', 'trb.ntnl', 'amt_sub'):loan.trb.ntnl.amt_sub[:],
                     ('CashInAccount', 'oprtg', 'amt_add'):acc.oprtg.amt_add[:],
                     ('CashInAccount', 'repay', 'amt_add'):acc.repay.amt_add[:],
                     ('CashOut_fncl', 'tra.fee', 'amt_add'):loan.tra.fee.amt_add[:],
                     ('CashOut_fncl', 'tra.IR', 'amt_add'):loan.tra.IR.amt_add[:],
                     ('CashOut_fncl', 'trb.fee', 'amt_add'):loan.trb.fee.amt_add[:],
                     ('CashOut_fncl', 'trb.IR', 'amt_add'):loan.trb.IR.amt_add[:],
                     ('CashOut_oprtn', 'cost_lnd', 'amt_add'):cost.lnd.amt_add[:],
                     ('CashOut_oprtn', 'cost_cstrn', 'amt_add'):cost.cstrn.amt_add[:],
                     ('CashOut_oprtn', 'cost_slsfee', 'amt_add'):cost.slsfee.amt_add[:],
                     ('CashOutAccount', 'oprtg', 'amt_sub'):acc.oprtg.amt_sub[:],
                     ('CashOutAccount', 'oprtg', 'bal_end'):acc.oprtg.bal_end[:],
                     ('CashOutAccount', 'repay', 'amt_sub'):acc.repay.amt_sub[:],
                     ('CashOutAccount', 'repay', 'bal_end'):acc.repay.bal_end[:],
                     ('CashOutLoan', 'tra.ntnl', 'amt_add'):loan.tra.ntnl.amt_add[:],
                     ('CashOutLoan', 'trb.ntnl', 'amt_add'):loan.trb.ntnl.amt_add[:],
                     })
R(rslt_df)

           SalesContract          CashIn                               \
                  salesA  salesB  salesA  salesB equity.ntnl tra.ntnl
                 amt_add amt_add amt_sub amt_sub     amt_sub  amt_sub
2021-11-30             0       0       0       0      10,000        0
2021-12-31             0       0       0       0           0    5,060
2022-01-31             0       0       0       0           0    3,947
2022-02-28        11,000   3,000   1,100     300           0    4,164
2022-03-31             0       0       0       0           0    2,861
2022-04-30        11,000   3,000   1,100     300           0    4,193
2022-05-31             0       0       0       0           0    2,890
2022-06-30        11,000   3,000   4,400     300           0    3,563
2022-07-31             0       0       0     900           0       97
2022-08-31        11,000   3,000   2,200     600           0    3,238
2022-09-30             0       0       0       0           0    1,811
2022-10-31        11,000   3,000   7,700     600           0    2,879
2022-11-30             0       0       0       0           0        0
2022-12-31        11,000   3,000   3,300   2,400           0      842
2023-01-31             0       0       0       0           0        0
2023-02-28        11,000   3,000  11,000     900           0    1,689
2023-03-31             0       0       0       0           0        0
2023-04-30        11,000   3,000   4,400     900           0        0
2023-05-31             0       0       0   2,400           0        0
2023-06-30        11,000   3,000  14,300   1,200           0        0
2023-07-31             0       0       0       0           0        0
2023-08-31        11,000   3,000   5,500   1,200           0        0
2023-09-30             0       0       0       0           0        0
2023-10-31             0       0  55,000  18,000           0        0
2023-11-30             0       0       0       0           0        0
2023-12-31             0       0       0       0           0        0
2024-01-31             0       0       0       0           0        0

                    CashInAccount         CashOut_fncl                  \
           trb.ntnl         oprtg   repay      tra.fee  tra.IR trb.fee
            amt_sub       amt_add amt_add      amt_add amt_add amt_add
2021-11-30        0        10,000       0            0       0       0
2021-12-31   20,000        25,060       0          650       0     600
2022-01-31        0         3,947       0            0      21       0
2022-02-28        0         5,564   1,120            0      38       0
2022-03-31        0         2,861       0            0      55       0
2022-04-30        0         5,593   1,120            0      67       0
2022-05-31        0         2,890       0            0      84       0
2022-06-30        0         8,263   3,760            0      96       0
2022-07-31        0           997     720            0     111       0
2022-08-31        0         6,038   2,240            0     112       0
2022-09-30        0         1,811       0            0     125       0
2022-10-31        0        11,179   6,640            0     133       0
2022-11-30        0             0       0            0     145       0
2022-12-31        0         6,542   4,560            0     145       0
2023-01-31        0             0       0            0     148       0
2023-02-28        0        11,676   9,520            0     148       0
2023-03-31        0             0       0            0     147       0
2023-04-30        0         1,060   4,240            0     147       0
2023-05-31        0           480   1,920            0     130       0
2023-06-30        0         3,100  12,400            0     122       0
2023-07-31        0             0       0            0      70       0
2023-08-31        0         1,340   5,360            0      70       0
2023-09-30        0             0       0            0      48       0
2023-10-31        0        14,600  58,400            0      48       0
2023-11-30        0        27,000       0            0       0       0
2023-12-31        0             0       0            0       0       0
2024-01-31        0             0       0            0       0       0

                   CashOut_oprtn                        CashOutAccount  \
            trb.IR      cost_lnd cost_cstrn cost_slsfee          oprtg
           amt_add       amt_add    amt_add     amt_add        amt_sub
2021-11-30       0             0          0           0              0
2021-12-31       0        30,000      3,810           0         35,060
2022-01-31     117             0      3,810           0          3,947
2022-02-28     117             0      3,810         480          4,444
2022-03-31     117             0      3,810           0          3,981
2022-04-30     117             0      3,810         480          4,473
2022-05-31     117             0      3,810           0          4,010
2022-06-30     117             0      3,810         480          4,503
2022-07-31     117             0      3,810           0          4,037
2022-08-31     117             0      3,810         480          4,518
2022-09-30     117             0      3,810           0          4,051
2022-10-31     117             0      3,810         480          4,539
2022-11-30     117             0      3,810           0          4,071
2022-12-31     117             0      3,810         480          4,551
2023-01-31     117             0      3,810           0          4,074
2023-02-28     117             0      3,810         480          4,554
2023-03-31     117             0      3,810           0          4,073
2023-04-30     117             0      3,810         480          4,553
2023-05-31     117             0      3,810           0          4,056
2023-06-30     117             0      3,810         480          4,528
2023-07-31     117             0      3,810           0          3,996
2023-08-31     117             0      3,810         480          4,476
2023-09-30     117             0          0           0            164
2023-10-31     117             0          0           0            164
2023-11-30       0             0          0           0              0
2023-12-31       0             0          0           0              0
2024-01-31       0             0          0           0              0

                                    CashOutLoan
                      repay            tra.ntnl trb.ntnl
            bal_end amt_sub bal_end     amt_add  amt_add
2021-11-30   10,000       0       0           0        0
2021-12-31        0       0       0           0        0
2022-01-31        0       0       0           0        0
2022-02-28    1,120   1,120       0           0        0
2022-03-31        0       0       0           0        0
2022-04-30    1,120   1,120       0           0        0
2022-05-31        0       0       0           0        0
2022-06-30    3,760   3,760       0           0        0
2022-07-31      720     720       0           0        0
2022-08-31    2,240   2,240       0           0        0
2022-09-30        0       0       0           0        0
2022-10-31    6,640   6,640       0           0        0
2022-11-30    2,569       0       0           0        0
2022-12-31    4,560   4,560       0           0        0
2023-01-31      486       0       0           0        0
2023-02-28    7,607   9,520       0       1,913        0
2023-03-31    3,534       0       0           0        0
2023-04-30       40   4,240       0       4,240        0
2023-05-31   -3,535   1,920       0       1,920        0
2023-06-30   -4,963  12,400       0      12,400        0
2023-07-31   -8,959       0       0           0        0
2023-08-31  -12,095   5,360       0       5,360        0
2023-09-30  -12,259       0       0           0        0
2023-10-31    2,177  31,400  27,000      11,400   20,000
2023-11-30   29,177  27,000       0           0        0
2023-12-31   29,177       0       0           0        0
2024-01-31   29,177       0       0           0        0